* {
    padding: 0;
    margin: 0;

    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--Very-light-gray-background-headings-buttons);
}
main {
    width: 80%;
    display: grid;
    flex-direction: row;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
article.first {
    background-color: var(--Bright-orange);
}
article.first .button{
    color: var(--Bright-orange);
}
article.second {
    background-color: var(--Dark-cyan);
}
article.second .button{
    color: var(--Dark-cyan);
}
article.third {
    background-color: var(--Very-dark-cyan);
}
article.third .button{
    color: var(--Very-dark-cyan);
}
.headline {
    font-size: 2.25rem;
    color: var(--Very-light-gray-background-headings-buttons);
    padding: 20px 0;
    font-family: "Big Shoulders Display";
}
article {
    padding: 40px;
    grid-template-rows: auto auto 1fr auto;
    display: grid;
}
.button {
    background-color: var(--Transparent-white-paragraphs);
    border-radius: 20px;
    min-width: 100px;
    padding: 10px;
    border: 2px solid transparent;
    width: 40%;
    text-align: center;
}
p {
    color: var(--Transparent-white-paragraphs);
}
.button:hover {
    background-color: transparent;
    border: 2px solid var(--Transparent-white-paragraphs);
    cursor: pointer;
    color: var(--Transparent-white-paragraphs)!important;
}
.description {
    padding: 10px 0 50px 0;
}
@media (max-width: 600px) {
    main {
        grid-template: none;
    }
}
